/* very first - main component (in Home.jsx page) */
.main {
    width: 80%;
    margin: auto auto;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-carousel {
    width: 50%;
    border-radius: var(--radius-10);
}

/* values component */
.value-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    margin-inline: 10px;
    --size: 140px;
    width: var(--size);
    height: var(--size);
    color: var(--secondary-dark);
    border-radius: var(--radius-10);
    box-shadow: 10px 10px 15px 8px var(--primary-bg);
}

.value-card-title {
    font-size: 24px;
    font-weight: 600;
}

.area-images {
    flex-wrap: wrap;
}

.areas-img-div {
    width: 300px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
}

.areas-img-div .img {
    min-height: 200px;
    border: 1px solid var(--secondary-dark);
    border-radius: var(--radius-10);
}