* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    overflow-x: hidden !important;
}

li {
    list-style-type: none;
}

.page {
    height: 50vh;
}