* {
    box-sizing: border-box;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    overflow-x: hidden !important;
}

li {
    list-style-type: none;
}

.w-100 {
    width: 100%;
}

.flex {
    display: flex;
}

.justify-space-btween {
    justify-content: space-between;
}

.page {
    height: 50vh;
}