:root {
    --primary: #f1f1f1;
    --primary-bg: #dddddd;
    --secondary-dark: #171717;
    --secondary-light: #FEC443;
    --secondary-light-hover: #feb518;
    /* radius */
    --radius-5: 5px;
    --radius-10: 10px;
    --radius-20: 20px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 200ms ease;
}

::selection {
    background-color: var(--secondary-light);
}

@font-face {
    font-family: BobbyJones;
    src: url(../../public/BobbyJones.otf);
}

body {
    overflow-x: hidden !important;
}

li {
    list-style-type: none;
}

.w-100 {
    width: 100%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.margin-a-a {
    margin: auto auto;
}

.margin-block-10 {
    margin-block: 10px;
}

.margin-block-20 {
    margin-block: 20px;
}

.margin-block-50 {
    margin-block: 50px;
}

.margin-block-100 {
    margin-block: 100px;
}

.padding-10 {
    padding: 10px;
}

.flex {
    display: flex;
}

.justify-ctr {
    justify-content: center;
}

.justify-space-btween {
    justify-content: space-between;
}

.justify-right {
    justify-content: right;
}

.align-ctr {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.txt-ctr {
    text-align: center;
}

.big-heading {
    font-size: 48px;
    color: var(--secondary-dark);
    text-transform: uppercase;
    letter-spacing: -1px;
}

.heading {
    font-size: 36px;
    color: var(--secondary-dark);
}

.small-heading {
    font-size: 24px;
    color: var(--secondary-dark);
}

.para-text {
    font-size: 18px;
    font-weight: 600;
}

.page {
    height: 50vh;
}

.para-50 {
    width: 50%;
    margin-inline: auto;
}

.color-light {
    color: var(--secondary-light);
}

.color-dark {
    color: var(--secondary-dark);
}

.icon-dark {
    color: var(--secondary-dark);
}

.cur {
    cursor: pointer;
}

.bg-hr {
    border: 1px solid var(--primary-bg);
}

.img {
    width: 100%;
}

.light-button,
.dark-button {
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.light-button {
    border: 1.5px solid var(--secondary-dark);
    /* background-color: var(--secondary-light); */
}

.light-button:hover {
    background-color: var(--primary-bg);
}

.dark-button {
    color: var(--secondary-dark);
    background-color: var(--secondary-light);
    border: 2px solid var(--secondary-light);
}

.dark-button:hover {
    background-color: var(--secondary-light-hover);
}

.hover-light-green:hover {
    color: var(--secondary-light);
}

.hover-dark-green:hover {
    color: var(--secondary-dark);
}

@media (max-width: 1200px) {
    .big-heading {
        font-size: 36px;
    }
}

@media (max-width: 800px) {
    .margin-block-50 {
        margin-block: 20px;
    }

    .grid-2 {
        grid-template-columns: repeat(1, 100%);
    }
}

@media (max-width: 600px) {
    .w-90 {
        width: 95%;
    }

    .w-60,
    .w-80 {
        width: 95%;
    }

    .heading {
        font-size: 22px;
    }

    .small-heading {
        font-size: 20px;
    }

    .para-text {
        font-size: 15px;
        font-weight: 400;
        text-align: justify;
    }

    .para-50 {
        width: 85%;
    }

    .light-button,
    .dark-button {
        padding: 7.5px 10px;
        font-size: 16px;
    }
}