/* all the css required to make navigation bar should be here */
/* create a media query for mobile view */

/* Variable CSS */
:root {
    --white: #ffffff;
    --off-white: #f1f1f1;
    --grey: #838383;
    --black: #000000;
    --matt-black: #171717;
    --blue: #84c9ef;
    --green: #606c5d;
}

/* ========== ========= Navbar CSS ======== ======== */

/* ---- navigation bar css ---- */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--matt-black);
    position: sticky;
    top: 0px;
    text-transform: uppercase;
    z-index: 100;
}

/* ---- navigation bar links ---- */
.nav-items {
    display: flex;
    width: 100%;
}

.logo {
    height: 60px;
}

.nav-links {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    transition-duration: 500ms;
    margin-left: 20px;
}

.nav-links li {
    display: block;
    padding: 0 10px;
    color: var(--white);
    transition-duration: 200ms;
}

.nav-links li:hover {
    transform: scale(1.1);
}

.nav-name {
    padding: 20px 0px;
    font-weight: 600;
    color: var(--white);
    font-size: 16px;
    transition: 200ms;
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button {
    cursor: pointer;
}

.dropdown .nav-button {
    border: none;
}

.dropdown .nav-button div {
    font-weight: 600;
}

.dropdown-content {
    display: none;
    position: absolute;
    transform: translateX(-20px);
    background-color: var(--primary);
    text-align: left;
    min-width: 250px;
    box-shadow: 0px 0px 10px #17171750;
    z-index: 1;
    margin: 0 10px;
}

.dropdown-content div,
.dropdown-content a {
    color: var(--black);
    font-weight: 600;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* navigation bar lines for collapsable nav bar */
.nav-lines {
    display: none;
    margin: auto 0;
}

a hr {
    width: 0%;
    border: 0.5px solid transparent;
    transition: 300ms ease-in-out;
}

.add-item {
    border: 1px dashed var(--black);
    border-radius: 8px;
    padding: 0px;
    margin: 5px;
}

.add-item div {
    padding: 10px 0px !important;
}

.add-nav-item {
    border: 2px dashed var(--white);
}

.login-hide {
    display: none;
}

@media (max-width: 900px) {
    .logo {
        height: 40px;
    }

    .nav {
        margin: 0 0;
        padding: 20px 30px;
        margin: auto auto;
        justify-content: space-between;
    }

    .nav-lines {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        z-index: 2;
        background-color: var(--matt-black);
        margin: 0 0;
        display: block;
        top: 80px;
        width: 100vw;
        left: 0px;
        height: 0;
        transform: 200ms;
        overflow: scroll;
    }

    .nav-links.active {
        height: 80vh;
        padding: 20px;
        overflow: scroll;
    }

    .nav-links li {
        justify-content: center;
        text-align: left;
        font-weight: 600;
        padding-inline: 0px;
        margin-inline: 20px;
    }


    .nav-links li p,
    .nav-links li div {
        font-size: 16px;
        font-weight: 400;
        padding: 20px 0px;
        color: var(--secondary-light);
    }

    .nav-links li:hover {
        transform: scale(1);
    }

    .dropdown-content {
        display: block;
        position: relative;
        transform: translateX(0);
        background-color: transparent;
        box-shadow: none;
        text-align: left;
        min-width: 250px;
        border-left: 1px solid var(--white);
        border-radius: 0px;
        margin-left: 20px;
    }

    .dropdown-block {
        display: block;
    }

    .dropdown-content div {
        color: var(--white);
    }

    .login-hide {
        display: block;
    }

    .login-display {
        display: none;
    }

    .nav-button {
        background-color: transparent;
    }
}